<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSLab6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04414FFE1FB498EB00B5F9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044150121FB498EB00B5F9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0441501D1FB498EB00B5F9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
